<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Planejamento Financeiro{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <header class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='ECONIZZE.png') }}" style="height: 60px; width: 190px;">
        </div>
        <nav class="nav-links">
            <a href="#recursos">Recursos</a>
            <a href="#quem-somos">Quem Somos</a>
        </nav>
        <div>
            <a href="/login" class="btn">Login</a>
            <a href="/cadastro" class="btn primary">Cadastro</a>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
